/* 모달창 미리 디자인 */
.black_background {
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: block; 
}

.white_background {
  background: white;
  width: 60%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* modal안의 select style */
.select_wrap {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

.icon {
  font-size: 24px;
  margin-bottom: 2px;
  margin-right: 5px;
}

.flex_center {
   display: flex;
   align-items: center;
   height: 40px;
   margin-top: 20px;
   margin-bottom: 0;
}






/* 버튼 */
.white_background .btn_wrap {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: end;
}

.btn_wrap button {
  width: 70px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  background-color: cornflowerblue;
  color: #fff;
  border: 1px solid #eee;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.white_background button:hover {
  background-color: rgb(56, 102, 188);
  color: white;
}

.white_background .close_btn {
  margin-left: 20px;
  margin-right: 5px;
}